OPENAI_API_KEY=""
TAVILY_API_KEY=""
BRAINTRUST_API_KEY=""
BRAINTRUST_PROJECT="openai-agent-sdk-supervisor"
BRAINTRUST_ORG_NAME="Braintrust Demos"
MODAL_APP_NAME="curtis-41436-openai-agent-sdk-supervisor-eval-server"
